{%  extends 'base.html' %}


{%  block title  %}
Главная страница
{% endblock %}

{%  block body  %}
<div class="text text-center">
      <h1 class="text display-4 fw-normal text-body-emphasis">Курсы по маникюру zwercho</h1>
      <p class="fs-8 text-body-secondary f">Главное — постоянно совершенствоваться, следить за новыми тенденциями и уделять внимание качеству обслуживания клиентов. Если вы увлечены этой профессией и готовы вкладывать усилия в свое развитие, то учиться на мастера маникюра может быть отличным выбором в 2023 году.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="text card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Классический</h4>
          </div>
          <div class="text card-body">
            <h1 class="card-title pricing-card-title">14999руб.<text_b class="text-body-secondary fw-light"></text_b></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>

            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
  <a class="w-100 btn btn-lg btn-primary" href="https://t.me/xueuy">Записаться</a>
</button>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="text card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Дизайн ногтей «стилеты»</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">24999руб.<text_b class="text-body-secondary fw-light"></text_b></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
            </ul>
           <button type="button" class="w-100 btn btn-lg btn-primary">
  <a class="w-100 btn btn-lg btn-primary" href="https://t.me/xueuy">Записаться</a>
</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="text card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Crazy маникюр</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">39999руб.<text_b class="text-body-secondary fw-light">    </text_b></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
  <a class="w-100 btn btn-lg btn-primary" href="https://t.me/xueuy">Записаться</a>
</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
